@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-slate-50 scroll-smooth 
  /* color-scheme: dark; */;
}
body {
  @apply overflow-x-hidden;
}

.scroll-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scroll-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
