@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-slate-50 dark:bg-slate-900 scroll-smooth 
  /* color-scheme: dark; */;
}
body {
  @apply overflow-x-hidden bg-slate-50 dark:bg-slate-900;
}
.preview-typo {
  @apply p-7 prose-p:text-[13px] prose-li:text-[13px]  prose-h3:text-[14.5px] prose-h1:text-lg prose-h2:text-base prose-p:leading-8 prose-headings:font-semibold prose-li:leading-8 prose prose-sm prose-a:text-blue-500 prose-lead:leading-8 prose-slate dark:prose-invert
  [&_p]:!my-0 prose-th:px-4 prose-th:!py-2 prose-th:dark:text-slate-100 prose-th:text-slate-700  prose-th:text-[13px] prose-th:font-medium prose-th:border prose-th:dark:border-slate-800 prose-th:border-slate-200
  prose-td:px-4 prose-td:!py-2 prose-td:dark:text-slate-300 prose-td:text-slate-300 prose-td:text-[12.6px] prose-td:font-medium prose-td:border prose-td:dark:border-slate-800 prose-td:border-slate-200;
}

.scroll-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scroll-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
